{% extends 'base.html.twig' %}

{% block title %}AccountActivity index{% endblock %}

{% block body %}
    <h1>Annual balance index</h1>

    <div>
        Annual balance of the year {{ year }}: {{ annualBalance }}
    </div>
{% endblock %}
