<div id="myNotification" class="notification" style="display: none;">
    <img src="http://127.0.0.1:8000/mrkrabs/mrkrabs.png" alt="Notification Image">
    <p>Success</p>
    <span class="close-button" onclick="closeNotification()">&times;</span>
</div>
<button id="getMoneyButton" class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3" style="background-color: #4CAF50">Get Money $$$</button>

{% block Scripts %}
<script>
    const getMoneyButton = document.getElementById("getMoneyButton");

    async function fetchData(url) {
        const response = await fetch(url);
        const data = await response.json();
        return data;
    }
    // Attach an event listener to the button
    getMoneyButton.addEventListener("click", function() {
        //
        fetchData("{{ path('app_annual_balance_get_money') }}")
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });


        showNotification();
    });

    function showNotification() {
        const notification = document.getElementById("myNotification");
        notification.style.display = "block";
        setTimeout(() => {
            notification.style.display = "none";
        }, 5000); // hide the notification after 5 seconds
    }

    function closeNotification() {
        const notification = document.getElementById("myNotification");
        notification.style.display = "none";
        window.location.reload();
    }
</script>
{% endblock %}